<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MAID_COFFEE_OCIDENTAL.Properties.Settings.MCOConnectionString"
            connectionString="Data Source=DESKTOP\;Initial Catalog=MCO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MAID_COFFEE_OCIDENTAL.Properties.Settings.MCOConnection"
            connectionString="Data Source=34.95.176.146;Initial Catalog=MCO;Persist Security Info=True;User ID=sa;Password=Nicolas@1020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>